<div class="home-container">
    <h1 class="title">ISVSP 2022 Online Conference</h1>
    <h4 class="description">3-5 February 2022</h4>
    <h4 class="description">Refocusing vacuum and plasma technology to the current needs of the society.</h4>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-gold btn-home" %>
</div>
