<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ISVSP, <%= @user.first_name %></h1>
    <p>
      We look forward to see you at the conference.<br>
    </p>
  </body>
</html>
