<div class="container">
  <% if notice %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>
